<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="ja" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://ogp.me/ns/fb#" xmlns="http://www.w3.org/1999/html">

<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
 More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Decision Table Creator</title>
    <meta name="description" content="Tag photos of London with the hashtag #london">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/extras/fancybox/jquery.fancybox.css"  />
    <!-- More ideas for your head here: h5bp.com/d/head-Tips -->

    <!-- For the sticky footer -->
    <!--[if !IE 7]><style type="text/css">#sf-wrapper {display:table;height:100%}</style><![endif]-->

    <!-- All JavaScript at the bottom, except this Modernizr build.
Modernizr enables HTML5 elements & feature detects for optimal performance.
Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="/static/extras/h5bp/js/libs/modernizr-2.5.3.min.js"></script>
    <style>
    </style>
</head>
<body>
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]>
    <link href="css/bootstrap.ie6.css" rel="stylesheet">
  	<p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
  <![endif]-->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                Decision Table Creator
            </a>
        </div>
    </div>
</div>

<div class="container" id="container">
    {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message }}
                </div>
            {% endfor %}
    {% endif %}

    <form id="mainForm" action="export"  method="POST">
        {% csrf_token %}
        <legend>テストケースの作成方法</legend>
        {{ kind_form.kind }}{{ kind_form.kind.errors }}

        <legend>条件</legend>
        {{ condition_formset.management_form }}
        {% for form in condition_formset %}
            <div class="each_condition_form" {% if not forloop.first %} style="display: none;"{% endif %}>

                <div class="control-group{% if form.title.errors %} error{% endif %}">
                    <label>{{ form.title.label }}{{ forloop.counter }}</label>
                    <div class="controls">
                        {{ form.title }} <span class="help-inline">{{ form.title.errors.as_text }}</span>
                    </div>
                </div>

                <label>選択肢</label>
                {{ form.variation1 }}{{ form.variation1.errors }}
                {{ form.variation2 }}{{ form.variation2.errors }}
                {{ form.variation3 }}{{ form.variation3.errors }}
                {{ form.variation4 }}{{ form.variation4.errors }}
                {{ form.variation5 }}{{ form.variation5.errors }}
                {{ form.variation6 }}{{ form.variation6.errors }}
                {{ form.variation7 }}{{ form.variation7.errors }}
                {{ form.variation8 }}{{ form.variation8.errors }}
                {{ form.variation9 }}{{ form.variation9.errors }}
                {{ form.variation10 }}{{ form.variation10.errors }}

            </div>
        {% endfor %}

        <div>
            <a href="#" id="add_condition"><i class="icon-plus"></i></a>
            <a href="#" id="remove_condition"><i class="icon-minus"></i></a>
        </div>

        <legend>アクション</legend>
        {{ action_formset.management_form }}
        {% for form in action_formset %}
            <div class="each_action_form" {% if not forloop.first %} style="display: none;"{% endif %}>
                <label>{{ form.title.label }}{{ forloop.counter }}</label>{{ form.title }}{{ form.title.errors }}

            </div>
        {% endfor %}

        <div>
            <a href="#" id="add_action"><i class="icon-plus"></i></a>
            <a href="#" id="remove_action"><i class="icon-minus"></i></a>
        </div>

        <a class="btn btn-large" id="submit_btn" href="#"><i class="icon-download"></i> デシジョンテーブルを作成</a>
    </form>

</div>


<!-- JavaScript at the bottom for fast page loading -->
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/extras/h5bp/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<!-- scripts concatenated and minified via ant build script-->
<script src="/static/extras/jquery.formset/src/jquery.formset.js"></script>
<script src="/static/extras/prettify/prettify.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/extras/masonry/jquery.masonry.min.js"></script>
<script src="/static/extras/infinitescroll/jquery.infinitescroll.min.js"></script>
<script src="/static/extras/fancybox/jquery.fancybox.pack.js"></script>

<!-- end scripts-->

<!-- If you'd rather pick and choose, comment the above and uncomment what you need below -->
<!--script type="text/javascript" src="js/bootstrap-alert.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-button.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-carousel.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-collapse.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-dropdown.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-modal.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-modal.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-modal.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-popover.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-scrollspy.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-tab.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-tooltip.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-transition.min.js"></script-->
<!--script type="text/javascript" src="js/bootstrap-typeahead.min.js"></script-->
<!--script type="text/javascript" src=""></script-->

<!-- end scripts -->


<script type="text/javascript">
    // Use the modernizr.load() function to run polyfills for older browsers.
    Modernizr.load({

    });
</script>


<script type="text/javascript">
    $(function() {
        $('.each_condition_form').add($('.each_action_form')).each(function(){
            if ($(this).find('input').filter(function(){return $(this).val() !== ''}).length > 0){
                $(this).show();
            }
        });

        $('#add_condition').click(function(e){
            e.preventDefault();
            $('.each_condition_form:hidden').first().show();
        });

        $('#add_action').click(function(e){
            e.preventDefault();
            $('.each_action_form:hidden').first().show();
        });

        $('#remove_condition').click(function(e){
            e.preventDefault();
            var forms = $('.each_condition_form:visible');
            if (forms.length > 1){
                forms.last().find('input').val('');
                forms.last().hide();
            }
        });
        $('#remove_action').click(function(e){
            e.preventDefault();
            var forms = $('.each_action_form:visible');
            if (forms.length > 1){
                forms.last().find('input').val('');
                forms.last().hide();
            }
        });

        $('#submit_btn').click(function(){
            $('#mainForm').submit();
        });
    })

</script>

<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
mathiasbynens.be/notes/async-analytics-snippet -->
<script>
    var _gaq=[['_setAccount','UA-xxxxxx-x'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>


<div class="container">
    <footer id="footer">
        <a href="http://b.hatena.ne.jp/entry/http://decisiontable.herokuapp.com" class="hatena-bookmark-button" data-hatena-bookmark-title="decision table creator" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <br>
        <small>created by <a href="https://twitter.com/yuhei">@yuhei</a></small>
    </footer>
</div>
<!-- A little ie7- magic -->
<script type="text/javascript"> $(function(){if($.browser.msie&&parseInt($.browser.version,10)===6){$('.row div[class^="span"]:last-child').addClass("last-child");$('[class="span"]').addClass("margin-left-20");$(':button[class="btn"], :reset[class="btn"], :submit[class="btn"], input[type="button"]').addClass("button-reset");$(":checkbox").addClass("input-checkbox");$('[class^="icon-"], [class=" icon-"]').addClass("icon-sprite");$(".pagination li:first-child a").addClass("pagination-first-child")}}) </script>

</body>

</html>